<h1>Upitnik za dobrovoljnog davaoca krvi</h1>

<form (ngSubmit)="submitAnswers()">
    <div>
      <label for="donorId">ID davaoca:</label>
      <input type="number" id="donorId" [(ngModel)]="donorId" name="donorId" required>
    </div>
    <div *ngFor="let question of questions; let i = index" class="question-container">
      <h2>{{ question.question }}</h2>
      <div class="options">
        <label>
          <input type="radio" name="question{{ i }}" value="Yes" [(ngModel)]="question.answer">
          Da
        </label>
        <label>
          <input type="radio" name="question{{ i }}" value="No" [(ngModel)]="question.answer">
          Ne
        </label>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
  <div *ngIf="!isFormValid" style="color: red;">
    Popunite sve odgovore!
  </div>
  <div *ngIf="isSubmitted" style="color: green;">
    Odgovori u obradi...
  </div>